<!DOCTYPE html>
<html>

<head>
    <title>Match Statistics</title>
</head>

<body>
    <h2>Match ID: {{ match.gameId }}</h2>
    <p>Match Duration: {{ match.gameDuration }}</p>
    <p>Game Mode: {{ match.gameMode }}</p>
    <p>Game Version: {{ match.gameVersion }}</p>

    <h3>Participants:</h3>
    <ul>
        {% for participant in match.participants %}
            <li>
                <strong>Summoner Name:</strong> {{ participant.summonerName }},
                <strong>Kills:</strong> {{ participant.kills }},
                <strong>Deaths:</strong> {{ participant.deaths }},
                <strong>Assists:</strong> {{ participant.assists }},
                <strong>Champion:</strong> {{ participant.championName }},
                <strong>Role:</strong> {{ participant.role }},
                <strong>Level:</strong> {{ participant.level }},
                <strong>Total Damage:</strong> {{ participant.totalDamage }}
            </li>
        {% endfor %}
    </ul>
    <img src="{{ url_for('static', filename='images/barplot.png') }}" alt="Bar plot">
    {{ table | safe }}

</body>

</html>
