<!DOCTYPE html>
<html>
<head>
    <title>Match Statistics</title>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>
    <header>
        <a class="a-menu" href="pesquisa.html">HOME</a>
        <a class="a-menu" href="#">MAIN</a>
        <a class="a-menu" href="sobre.html">SOBRE</a>
    </header>

    <div>
        <link rel="stylesheet" href="https://www.flaticon.com/br/icone-gratis/lupa_751463?term=lupa&page=1&position=4&origin=search&related_id=751463" />
        <input type="text" class="input-icon" placeholder="PESQUISAR INVOCADOR:"></input>
        <button>BUSCAR</button>
    </div>

    <section id="pag-main-section">
        <p>teste</p>
    </section>
    <main id="pag-main">
        <p>teste2</p>
        <center>
        <button>MOSTRAR MAIS</button>
        </center>
    </main>

</body>

</html>