<!DOCTYPE html>
<html>
<head>
    <title>Summoner Profile</title>
</head>
<body>
    <form method="POST">
        <label for="summoner_name">Summoner Name:</label>
        <input type="text" name="summoner_name" id="summoner_name" required>
        <input type="submit" value="Submit">
    </form>
    <h1>Summoner Profile</h1>
    <p>Summoner Name: {{ summoner_data.name }}</p>
    <p>Summoner Level: {{ summoner_data.summonerLevel }}</p>
    <p>Rank: {{ summoner_data.rank }} {{ summoner_data.tier}}</p>
    </table>
</body>
<html>