<!DOCTYPE html>
<html>
<head>
    <title>Summoner Profile</title>
</head>
<body>
    <h1>Summoner Profile</h1>
    <form method="POST">
        <label for="summoner_name">Summoner Name:</label>
        <input type="text" id="summoner_name" name="summoner_name">
        <input type="submit" value="Submit">
    </form>
    {% if summoner_data %}
        <p>Summoner Name: {{ summoner_data.name }}</p>
        <p>Summoner Level: {{ summoner_data.summonerLevel }}</p>
        <p>Rank: {{ summoner_data.rank }} {{ summoner_data.tier}}</p>
        <p>Win Rate: {{ win_rate }}%</p>
    {% endif %}
        <h2>Match Details:</h2>
            <ul>
            {% for match in match_details %}
                <li>Match ID: {{ match.match_data.gameId }}, Kills: {{ match.kills }}, Deaths: {{ match.deaths }}, Assists: {{ match.assists }}</li>
            {% endfor %}
        </ul>
</body>
<html>