<!DOCTYPE html>
<html>
    <head>
        <title>Match Statistics</title>
        <link rel="stylesheet" type="text/css" href="css/sobre.css"/>
    </head>
<body>
    <header>
        <a class="a-menu" href="pesquisa.html">HOME</a>
        <a class="a-menu" href="main.html">MAIN</a>
        <a class="a-menu" href="#">SOBRE</a>
    </header>

    <div>
        <link rel="stylesheet" href="https://www.flaticon.com/br/icone-gratis/lupa_751463?term=lupa&page=1&position=4&origin=search&related_id=751463" />
        <input type="text" class="input-icon" placeholder="PESQUISAR INVOCADOR:"></input>
        <button>BUSCAR</button>
    </div>

    <main>
            <h2>Sobre o projeto:</h2>

            <p>O objetivo principal do site é mostrar alguns dados relacionados as últimas partidas jogadas pelos players num jogo chamado League Of Legends.</p>
            <p>Os dados foram fornecidos através de uma api fornecida pela riot games (desenvolvedora do jogo). Essas informações foram implementadas através da programação orientada à objetos, utilizando a linguagem python.</p>
    </main>


    <footer>
        <p>Siga-nos no linkedin: <a href="https://github.com/MoonAmon" target="_blank">Thiago Amancio - </a><a href="https://github.com/MoonAmon" target="_blank"> Lucas - </a><a href="https://github.com/who1sthais" target="_blank"> Thaís Silva</a> - 2023 </p>
      </footer>
</body>

</html>